<li>
  <a class="invoice-row" [routerLink]="['/facturas', factura().id]">
    <div class="invoice-row__service">
      <span class="invoice-row__name">{{ factura().servicio }}</span>
      <span class="invoice-row__date">Vence {{ factura().fechaVencimiento | date: 'dd MMM' }}</span>
    </div>

    <div class="invoice-row__summary">
      <span class="invoice-row__amount">{{ factura().monto | monto }}</span>
      <span class="invoice-row__badge" [class]="'invoice-row__badge--' + factura().estado">
        {{ estadoLabel() }}
      </span>
      <app-icon name="chevron-right" [size]="24" />
    </div>
  </a>
</li>
